@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --font-color: #353535;
    --primary-color: #FFDE59;
    --secondary-color: #74C9D6;
    --bg-color: #FFFFFF;
}

* {
    font-family: Roboto, 'sans-serif';
    color: var(--font-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

/* ========== NAV BAR ========== */

header {
    position: sticky;
    background-color: var(--primary-color);
    height: 10em;
    top: 0;
    z-index: 50;
}

header nav {
    position: sticky;
    background-color: var(--primary-color);
    border-bottom: 1em solid var(--bg-color);
    display: flex;
    height: 9em;
    padding: 0 4em 0 0;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav__options {
    display: flex;
    position: relative;
    margin-left: auto;
    width: 50%;
    height: 75%;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
}

.nav li a {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--bg-color);
    transition: all 250ms ease-in-out;
}

.nav li a:hover {
    color: var(--font-color);
}

.languages {
    display: flex;
    align-items: center;
    width: 55%;
    margin-right: 1em;
    justify-content: space-between;
}

.option {
    display: flex;
    align-items: center;
}

.option img {
    width: 100px;
    height: 50px;
    border-radius: 30px;
}

.option input {
    margin-right: 0.75em;
}

/* ========== LOGO ========== */

.logo {
    background-color: var(--bg-color);
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 65px solid transparent;
    border-bottom: 65px solid transparent;
    border-left: 6em solid var(--primary-color);
    left: 0;
}

.logo h1 {
    font-size: 2.5rem;
    font-weight: bolder;
}

.logo span {
    font-size: 3rem;
    font-weight: bold;
    color: var(--secondary-color);
}
