:root {
    --font-color: #353535;
    --primary-color: #FFDE59;
    --secondary-color: #74C9D6;
    --bg-color: #FFFFFF;
}

* {
    font-family: Roboto, 'sans-serif';
    color: var(--font-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ========== NAV BAR ========== */

header {    
    background-color: var(--bg-color);
    height: 7em;
}

header nav {
    background-color: var(--primary-color);
    display: flex;
    height: 6em;
    padding: 0 5em;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    position: absolute;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9em;
    width: 9em;
    border-radius: 50%;
    border: 1em solid var(--bg-color);
    top: 2em;
}

.nav__options {
    display: flex;
    position: relative;
    margin-left: auto;
    width: 50%;
    height: 75%;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
}

.nav li a {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--bg-color);
    transition: all 250ms ease-in-out;
}

.nav li a:hover {
    color: var(--font-color);
}