@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --font-color: #4C4C4C;
    --primary-color: #FFDE59;
    --secondary-color: #74C9D6;
    --bg-color: #FFFFFF;
}

* {
    font-family: Roboto, 'sans-serif';
    color: var(--font-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

body {
    position: relative;
    overflow-x: hidden;
}

/* ========== NAV BAR ========== */

header {
    position: sticky;
    background-color: var(--primary-color);
    height: 10em;
    top: 0;
    z-index: 50;
}

header nav {
    position: sticky;
    background-color: var(--primary-color);
    border-bottom: 1em solid var(--bg-color);
    display: flex;
    height: 9em;
    padding: 0 4em 0 0;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav__options {
    display: flex;
    position: relative;
    margin-left: auto;
    width: 60%;
    height: 75%;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
}

.nav li a {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--bg-color);
    transition: all 250ms ease-in-out;
}

.nav li a:hover {
    color: var(--font-color);
}

.languages {
    display: flex;
    align-items: center;
    width: 60%;
    margin-right: 2em;
    justify-content: space-between;
}

.option {
    display: flex;
    align-items: center;
}

.option img {
    width: 100px;
    height: 50px;
    border-radius: 30px;
}

.option input {
    margin-right: 0.75em;
}

/* ========== LOGO ========== */

.logo {
    background-color: var(--bg-color);
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 65px solid transparent;
    border-bottom: 65px solid transparent;
    border-left: 6em solid var(--primary-color);
    left: 0;
}

.logo h1 {
    font-size: 2.5rem;
    font-weight: bolder;
}

.logo span {
    font-size: 3rem;
    font-weight: bold;
    color: var(--secondary-color);
}

/* ========== BTNS ========== */

.smbt {
    width: 40%;
    height: 6em;
    border: none;
    background-color: var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.smbt a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 2rem;
}

.smbt:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.back {
    position: absolute;
    width: 7.5em;
    height: 7.5em;
    bottom: 2.5em;
    left: 5em;
    background-color: var(--bg-color);
    border-radius: 10px;
    border: 5px solid var(--secondary-color);
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.back:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
    background-color: var(--primary-color);
}

.back a {
    font-size: 4rem;
}

/* ========== BODY ========== */

.main {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1 {
    text-transform: uppercase;
    font-size: 5rem;
    margin-top: 1em;
}

.main h1::before,
.main h1::after {
    content: '';
    height: 20px;
    width: 2.5em;
    border-radius: 100px;
    background-color: var(--primary-color);
    position: absolute;
    top: 3.5em;
}

.main h1::before {
    left: 15%;
}

.main h1::after {
    left: 75%;
}

/* ========== FORM ========== */

form {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 30%;
    justify-content: space-between;
    padding: 2em 0;
}

form button {
    align-self: center;
}

form input {
    height: 2em;
    border-radius: 12.5px;
    border: none;
    background-color: #E5E5E5;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 1em;
}

.extras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1em;
}

.extras input::after {
    display: flex;
    width: max-content;
    height: 100%;
    align-items: center;
    content: 'Remember Me?';
    position: relative;
    font-size: 1rem;
    font-weight: 300;
    left: 1.5em;
}

.extras a {
    text-decoration: none;
    transition: all 255ms ease-in-out;
}

.extras a:hover {
    font-weight: 900;
}

.advice {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.link {
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    width: 20em;
    padding: 0.5em 1em;
    border-radius: 10px;
}

.link a {
    text-decoration: none;
    color: #000000;
}

/* ========== FORMS ========== */

.forms {
    width: 75%;
    height: 50vh;
    display: flex;
    margin-top: 12.5em;
    justify-content: space-between;
}

.forms form {
    justify-content: space-evenly;
    padding: 0;
    height: 70%;
    width: 40%;
    align-items: center;
}

.forms form h2 {
    position: absolute;
    bottom: 16em;
    font-size: 2rem;
}

.sgnup {
    position: absolute;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    left: 47%;
    top: 85%;
}

.sgnup a {
    font-size: 1.7rem;
}